---
import { SOCIALS } from "@/lib/constants";
import "@/styles/footer.css";
import GithubIcon from "@/icons/social/github.svg";
import LinkedInIcon from "@/icons/social/linkedin.svg";
import TwitterIcon from "@/icons/social/twitter.svg";
import FacebookIcon from "@/icons/social/facebook.svg";
import EmailIcon from "@/icons/social/email.svg";
---

<footer class="flex sm:flex-row flex-col justify-between items-center my-12">
  <div>
    <p>
      <a
        target="_blank"
        class="text-primary hover:underline"
        href="https://github.com/rtcs-dev/blog">see source code</a
      >
    </p>
  </div>
  <div class="grid grid-cols-5 gap-4" id="contact">
    <a
      aria-label="Social Media"
      href={SOCIALS.github}
      target="_blank"
      style="--icon-color: #862393;"
      class="footer-icons github-icon"
    >
      <GithubIcon class="feather feather-github" />
    </a>
    <a
      aria-label="Social Media"
      href={SOCIALS.linkedin}
      target="_blank"
      style="--icon-color: #fff; --icon-color-light: #0E61BA;"
      class="footer-icons linkedin-icon"
    >
      <LinkedInIcon class="feather feather-linkedin" />
    </a>
    <a
      aria-label="Social Media"
      href={SOCIALS.twitter}
      target="_blank"
      style="--icon-color: #1da1f2;"
      class="footer-icons twitter-icon"
    >
      <TwitterIcon class="feather feather-twitter" />
    </a>
    <a
      aria-label="Social Media"
      href={SOCIALS.facebook}
      target="_blank"
      class="footer-icons facebook-icon"
      style="--icon-color: #fff; --icon-color-light: #4267B2"
    >
      <FacebookIcon class="feather feather-facebook" />
    </a>
    <a
      aria-label="Social Media"
      href={`mailto:${SOCIALS.email}`}
      target="_blank"
      style="--icon-color: #1da1f2;"
      class="footer-icons email-icon"
    >
      <EmailIcon class="feather feather-mail" />
    </a>
  </div>
</footer>
