---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../ui/formatted-date.astro";
import { cn } from "@/lib/utils";

type Props = CollectionEntry<"posts">["data"] & { id: string };

const { title, description, imageDark, imageLight, id, date } = Astro.props;
const imgClass = "w-full h-full object-cover rounded-2xl";
---

<a href={`posts/${id}`}>
  <article class="flex justify-between gap-10 hover:cursor-pointer">
    <div class="flex flex-col justify-center gap-4">
      <FormattedDate class="text-muted-foreground" date={date} />
      <h2>{title}</h2>
      <p class="text-muted-foreground">{description}</p>
      <p class="text-lg text-primary hover:underline">Read the article</p>
    </div>
    <div class="max-h-[300px] max-w-[300px]">
      <img
        class={cn(imgClass, "dark:hidden")}
        src={imageLight}
        alt=`blog-post-${id}`
      />
      <img
        class={cn(imgClass, "hidden dark:inline-block")}
        src={imageDark}
        alt=`blog-post-${id}`
      />
    </div>
  </article>
</a>
