---
import { cn } from "@/lib/utils";
import FormattedDate from "../ui/formatted-date.astro";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"posts">["data"] & { id: string };

const { title, imageLight, imageDark, id, date } = Astro.props;
const imgClass =
  "absolute w-full h-full object-cover -z-10 inset-0 align-middle rounded-2x";
---

<article
  class="isolate overflow-hidden relative flex justify-end flex-col rounded-2xl text-muted-foreground px-8 pt-80 pb-8"
>
  <img
    class={cn(imgClass, "dark:hidden")}
    src={imageLight}
    alt=`blog-post-${id}`
  />
  <img
    class={cn(imgClass, "hidden dark:inline-block")}
    src={imageDark}
    alt=`blog-post-${id}`
  />
  <div
    class="absolute w-full h-full -z-10 inset-0 dark:bg-linear-to-t dark:from-black dark:to-transparent"
  >
  </div>
  <div class="absolute w-full h-full -z-10 inset-0 rounded-2xl"></div>
  <div class="text-sm leading-6">
    <FormattedDate class="text-muted-foreground" date={date} />
  </div>
  <a href={`posts/${id}`}>
    <span class="inset-0 absolute w-full h-full"></span>
    <span class="text-foreground">{title}</span>
  </a>
</article>
